name: Unit testing workflow

on:
  workflow_dispatch:
  push:
    
env:
  MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
  MONGO_USERNAME: superuser
  MONGO_PASSWORD: SuperPassword
  
jobs:
  Unit-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Set up Node.js with version
        uses: actions/setup-node@v4
        with:
          node-version: 18


      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Archive/store
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: test-results.xml
